@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap");

* {
  font-family: "Playfair Display";
}
.title {
  font-style: italic;
  letter-spacing: 1.7px;
  font-weight: 450;
  font-size: 12em;
}

.pic {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 2.4em;
}
.lorem {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

form {
  justify-content: center;
  align-items: center;
  width: 30px;
  display: flex;
  height: 30px;
  border-radius: 50%;
  border: 1px solid red;
  line-height: 30px;
  color: red;
  margin: 10px auto;
  font-weight: bold;
  font-style: 24px;
}
label:hover {
  color: red;
}

.error {
  color: red;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.image {
  display: flex;
  justify-content: center;
  color: black;
}

.progress-bar {
  height: 50px;
  background-color: rgba(237, 10, 237, 0.982);
  margin-top: 20px;
  color: blue;
}

.img-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  /* margin-left: 45px; */
  justify-content: center;
  align-items: center;
}
.img-wrap {
  overflow: hidden;
  height: 50%;
  padding: 50%;
  position: relative;
}
.img-wrap img {
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 25px;
  gap: -10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgb(0, 0, 0, 0.5);
  border: 3px solid white;
}
.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 200%;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: green;
  color: #fff;
  font-weight: bold;
  position: fixed;
  margin-bottom: 25px;
  margin-left: 25px;
}

.progress-bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 145 px;
}
