@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap");

* {
  font-family: "Playfair Display";
}
.title {
  font-style: italic;
  letter-spacing: 1.7px;
  font-weight: 450;
  font-size: 12em;
}

.pic {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 2.4em;
}
.lorem {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
/* Upload File CSS */

form {
  justify-content: center;
  align-items: center;
  width: 30px;
  display: flex;
  height: 30px;
  border-radius: 50%;
  border: 1px solid red;
  line-height: 30px;
  color: red;
  margin: 10px auto;
  font-weight: bold;
  font-style: 24px;
}
label:hover {
  /* background: blue; */
  color: red;
}

.error {
  color: red;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.image {
  display: flex;
  justify-content: center;
  color: black;
}

.progress-bar {
  height: 50px;
  background-color: rgba(237, 10, 237, 0.982);
  margin-top: 20px;
  color: blue;
}
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  /* opacity: 0.8; */
}
.img-wrap img {
  min-width: 50%;
  min-height: 50%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgb(0, 0, 0, 0.5);
  border: 3px solid white;
}

/* .progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
} */
/* .progress-bar {
  height: 100%;
  background-color: #4caf50; /* Green background color */
  /* text-align: center;
  line-height: 20px;
  color: #fff; Text color */
/* } */ */
/* 
.progress-bar span {
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #000;
} */
/* CSS for ProgressBar component */
.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #007BFF; /* Blue background color */
  text-align: center;
  line-height: 20px;
  color: #fff; /* Text color */
}

.progress-bar span {
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #000;
}
